numpy>=1.23.5
matplotlib>=3.9.0
pylatexenc
pytest>=8.2.1
tweedledum
setuptools>=68.2.0
scikit-learn>=1.5.0
IPython>=8.18.0
torch>=2.3.1
ptflops>=0.7.3
tensorflow>=2.12.0
pennylane~=0.37.0
pandas~=2.2.2
torch
tqdm~=4.67.1
scipy~=1.13.1
pushbullet.py~=0.12.0
autograd~=1.6.2
requests~=2.32.3